.container {
    width: 400px;
    height: 400px;
    display: flex;
    margin-left: 40%;
    margin-top: 10%;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.TextField{
    margin-bottom: 1em;
}