
:root {
  --max-width: 1400px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
   /* 1- Color text */
  --foreground-rgb: 255, 255, 255;
  /* 2- background */
  --background-start-rgb: 255, 255, 220;
  /* 2- background gradiente */
  --background-end-rgb: 255, 255, 255;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

