.container {
    display: flex;
    background: #fff;
    font-family: poppins, sans-serif;
  }
  .h1 {
    color: black;
    font-size: 2.5em;
    margin-top: 1em;
    
  }
  .h1 span {
    color: #6D6AF1;
  }
  .imgLogo {
    margin-top: 2.7em;
    margin-left: 6em;
    width: 2.5%;
    height: 2.5%;
  }
  .imgIustration {
    display: block;
    margin-left: -15.8em;
    margin-top: 7em;
    width: 35%;
    height: 35%;
  }
